# Ignorar arquivo de variáveis de ambientes
.env

# Ignorar arquivos de configuração do editor
.vscode/
.idea/

# Ignorar arquivos de teste
test/

# Ignorar apenas arquivos .zip dentro do diretório data e seus subdiretórios
data/**/*.zip

# Ignorar arquivos de dados
data/faiss_store/
data/stage/processed/
data/stage/unprocessed/
data/stage/error_processed/

# Ignorar arquivos de cache
__pycache__/
scripts/__pycache__/


# Ignorar arquivos de log
logs/*
